.col-4{
    padding: 0;
}

.temperature {
    text-align: center;
    color: #fff;
    padding-top: 0;
  }
  
  .anchor {
    color: #fff !important;
    text-decoration: none;
    font-weight: 300;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 2px;
  }
  
  .active {
    cursor: default;
    font-weight: 600 !important;
    text-decoration: none;
  }
  
  .active:hover {
    text-decoration: none;
  }
  
  .main-temp {
    font-size: 75px;
    line-height: 20px;
  }
  
  .units {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #eeeeee;
    line-height: 20px;
    padding-top: 12px;
  }
  
  .min-temp,
  .max-temp {
    font-weight: 300 !important;
    font-size: 20px;
  }